/* Make code blocks scroll horizontally instead of wrapping text */
pre {
	overflow-x: auto;
}
code, pre {
	white-space: pre;
}

/* Bring back the little arrow on <details> collapsers */
summary {
	list-style: revert;
}
summary::-webkit-details-marker {
	display: revert;
}

/* Make the <summary> element styled as a button look properly */
summary.button {
	display: inline flow-root list-item;
	line-height: var(--_size);
}

/* Styles all child links with the same styling as the .link class */
.linkify a {
	color: var(--primary) !important;
}

/* Styles all child list items with the default indented look */
ul.listify {
	padding: revert;
}

#canvasContainer {
	white-space: nowrap;
	overflow: auto;
}
.canvasLink {
	display: inline-block;
	border-radius: .75rem;
	contain: paint;
	border: .25rem solid transparent;
}
.canvasLink.active {
	border-color: var(--primary);
}
.light .canvasLabel {
	--primary: var(--primary-container);
}
.canvasLink.active .canvasLabel {
	color: var(--primary);
	text-decoration: underline;
}

/* Makes the canvas view zoom on hover */
#currentImageContainer {
	overflow: hidden;
	cursor: zoom-in;

	/* Default for --mouse-pos */
	--mouse-pos: 50% 50%;
}
#currentImage {
	width: 100%;
	object-fit: contain;

	/* --mouse-pos is set by JavaScript */
	transform-origin: var(--mouse-pos);
}
#currentImageContainer:hover #currentImage {
	transform: scale(3);
}

/* Custom helpers */
.border-radius-initial {
	border-radius: initial;
}
.screen-50 {
	height: 50vh;
	overflow-y: auto;
}
.cursor-pointer {
	cursor: pointer;
}
